.video-container {
  position: relative;
  overflow-x: hidden;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.content-overlay {
  position: relative;
  z-index: 1;
  text-align: center;
}

h1,
p {
  margin: 0;
  padding: 0;
}

/* The scrollbar container */
::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
}
